body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-nav {
    background-color: #4CAF50; /* Couleur de fond verte */
    margin-top: 10px;
    margin-bottom: 10px;
    border: none; /* Pas de bordure */
    color: white; /* Texte en blanc */
    padding: 7px 10px; /* Espacement intérieur */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block;
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px;
    cursor: pointer; /* Curseur en forme de main au survol */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ombre portée */
    transition-duration: 0.4s; /* Durée de la transition */
}

.btn-nav:hover:hover {
    background-color: #45a049; /* Couleur de fond au survol */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Ombre portée au survol */
}

.btn {
    display: flex;
    align-items: center;
}
.indisponible {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}